.sidebar {
  width: 260px;
  min-height: 100vh;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;

  background: #111827;
  border-right: 1px solid #1f2937;
}

.sidebar-logo {
  margin-bottom: 50px;

  font-size: 26px;
  font-weight: 700;
  color: #f8fafc;
}

.sidebar-logo span {
  color: #38bdf8;
}

.sidebar-navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 14px 16px;

  border-radius: 10px;

  color: #94a3b8;
  text-decoration: none;

  transition: 0.3s;
}

.sidebar-link:hover,
.sidebar-link.active {
  background: #1e293b;
  color: #38bdf8;
}

.sidebar-link span {
  width: 20px;
  text-align: center;
}

.sidebar-bottom {
  margin-top: auto;
}
